<h1>Add a new Restaurant</h1>
<form action="/categories" method="post">
  <label for="newDiner">Add a New Restaurant</label>
  <input id="newDiner" name="newDiner" type="text">
  <label for="newLocation">Location</label>
  <input id="newLocation" name="newLocation" type="text">
  <label for="newPopularity">Popularity</label>
  <input id="newPopularity" name="newPopularity" type="text">
  <label for="newPriceRange">Price Range</label>
  <input id="newPriceRange" name="newPriceRange" type="text">
  <label for="newRating">Rating (1-5)</label>
  <input id="newRating" name="newRating" type="text">
  <label for="newDescription">Description</label>
  <input id="newDescription" name="newDescription" type="text">
-Cuisine ID here-

  <button type="submit">Submit</button>
</form>
