<h1>Restaurants and things and stuff</h1>
<p><a href='/items/new'>Add a New Restaurant<a/></p>
<p><a href='/items'>View List of Restaurants<a/></p>

<p><a href='/categories/new'>Add a New Cuisine<a/></p>
<p><a href='/categories'>View List of Cuisine<a/></p>
