<h1>Add a new Cuisine</h1>
<form action="/categories" method="post">
  <label for="newCuisine">Add a new cuisine</label>
  <input id="newCuisine" name="newCuisine" type="text">
  <button type="submit">Submit</button>
</form>
